.resize-drag {
  background-color: #f90;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}

.resize-container {
  width: 100%;
  height: 100%;
}

.handle {
  width: 20px;
  height: 20px;
  background: deeppink;
}