.col {
    padding: 10px 20px 10px 2px;
    border: #000000 solid 1px;
    border-radius: 10px;
    margin: 50px;
    margin-left: 450px;
    height: 250px;
    width: 450px;
}
body {
    display: grid;
}
.login{
    margin-top: 30px;
    margin-left: 50px;
}
.button{
    background-color: #FF6600;
    color: white;
    border-radius: 5px;
}
.titre{
    margin: 0 auto ;
    color: #FF6600;
}