body {
    font-family: Noto Sans;
}

.main-div {
    height: 90vh;
    width: 100vw;
    z-index: -1;
    position: absolute;
}

.leftside-main-container {
    width: 15%;
    float: left;
    height: 100%;
    background: #d16218;
}

.rightside-main-container {
    width: 85%;
    float: right;
    height: 100%;
    background: rgb(239, 239, 239);
}


/* ACCOUNT PART */
.leftside-account-container {
    text-align: center;
    margin-top: 20px;
}

.leftside-account-container>.leftside-text>.title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}

.leftside-setting-container>.leftside-text>.title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}

.leftside-logout-container>.leftside-text>.title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}

.leftside-admin-container>.leftside-text>.title {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 10px;
}

.leftside-account-container .leftside-icons {
    font-size: 2em;
    display: none;
    color: white;
}

/* SETTING PART */
.leftside-setting-container {
    text-align: center;
    margin-top: 20px;
}

.leftside-setting-container .leftside-text {
    color: #d16218;
    font-size: 20px;
    font-weight: 300;
}

.leftside-setting-container .leftside-icons {
    font-size: 2em;
    display: none;
    color: white;
}

/* LOGOUT PART */
.leftside-logout-container {
    text-align: center;
    margin-top: 20px;

}

.leftside-logout-container .leftside-text {
    color: #d16218;
    font-size: 1px;
    font-weight: 700;
}

.leftside-logout-container .leftside-icons {
    font-size: 2em;
    display: none;
    color: white;
}

/* ADMIN PART */

.leftside-admin-container {
    text-align: center;
    margin-top: 20px;
}

.leftside-admin-container .leftside-text {
    color: #d16218;
    font-size: 20px;
    font-weight: 300;
}

.leftside-admin-container .leftside-icons {
    font-size: 2em;
    display: none;
    color: white;
}

/* Media query */

@media (max-width: 900px) {

    /* Account part */
    .leftside-account-container .leftside-icons {
        display: block;
    }

    .leftside-account-container .leftside-text {
        display: none;
    }

    /* Setting Part */
    .leftside-setting-container .leftside-icons {
        display: block;
    }

    .leftside-setting-container .leftside-text {
        display: none;
    }

    /* Logout Part */
    .leftside-logout-container .leftside-icons {
        display: block;
    }

    .leftside-logout-container .leftside-text {
        display: none;
    }

    /* Admin part */
    .leftside-admin-container .leftside-icons {
        display: block;
    }

    .leftside-admin-container .leftside-text {
        display: none;
    }
}

/* Rightside */

.rightside-container-account {
    color: rgb(0, 0, 0);
    display: block;
}

.rightside-container-account>.rightside-container-account-header {
    background-color: #d16218;
    color: white;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;

}

.rightside-container-setting {
    color: #d16218;
    font-size: 20px;
    font-weight: 300;
    display: none;
}

.rightside-container-admin {
    color: #d16218;
    font-size: 20px;
    font-weight: 300;
    display: none;
}

/* Hover effect */
.leftside-account-container:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.leftside-setting-container:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.leftside-logout-container:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}

.leftside-admin-container:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}


hr.solid {
    border-top: 3px solid #000000;
}



/* Path: factory-display\assets\css\settings\homepage.css */

.profil h3 {
    margin-left: 30px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #d16218;
}

.profil h4 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    margin-left: 40px;
    background-color: #adadad;
    border-radius: 5px;
    padding: 5px;
    font-weight: 5px;
    width: 500px;
}

.profil {
    margin-bottom: 100px;
}

.rightside-container-setting>.rightside-container-setting-header {
    text-align: center;
    padding-top: 10px;
    border: 5px solid #d16218;
    box-shadow: 0px 0px 10px 0px #d16218;
    color: #d16218;
    border-top: none;
    width: 40%;
    margin: 0 auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.rightside-container-deconnexion>.rightside-container-deconnexion-header {
    text-align: center;
    padding-top: 10px;
    border: 5px solid #d16218;
    box-shadow: 0px 0px 10px 0px #d16218;
    color: #d16218;
    border-top: none;
    width: 40%;
    margin: 0 auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

a {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(49, 44, 44);
}

h5 {
    margin-left: 290px;
}

/* Account Right Part */

.rightside-container-account-content-left {
    width: 45%;
    height: 100%;
    background-color: #d16218;
    float: left;
    box-shadow: 0px 0px 10px 0px black;
    margin-left: 15px;
    margin-top: 20px;
    color: #ffffff;
}

.rightside-container-account-content-right {
    width: 45%;
    height: 100%;
    background-color: #d16218;
    float: right;
    box-shadow: 0px 0px 10px 0px black;
    margin-right: 15px;
    margin-top: 20px;
    color: #ffffff;
}



@media (max-width: 500px) {
    .rightside-container-account-content-left {
        width: 100%;
        height: 100%;
        display: block;

    }

    .rightside-container-account-content-right {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.rightside-container-account-content-left-text > h3 {
    text-align: center;
    margin-top: 10px;
}

.rightside-container-account-content-left-text > p {
    text-align: center; 
}