body{
    font-family: 'Open Sans', sans-serif;
}
.main-div {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.leftside-main-container {
    width: 20%;
    float: left;
    height: 100%;
    background: rgba(36, 36, 36, 0.5);
}
.rightside-main-container {
    width: 80%;
    float: right;
    height: 100%;
    background: rgba(255, 111, 0, 0.721);
}


/* ACCOUNT PART */
.leftside-account-container{
    text-align: center;
    margin-top: 20px;
    
}

.leftside-account-container .leftside-text{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.leftside-account-container .leftside-icons {
    font-size: 2em;
    display: none;
}

/* SETTING PART */
.leftside-setting-container{
    text-align: center;
    margin-top: 20px;
}

.leftside-setting-container .leftside-text{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.leftside-setting-container .leftside-icons {
    font-size: 2em;
    display: none;
}

/* LOGOUT PART */
.leftside-logout-container{
    text-align: center;
    margin-top: 20px;
}

.leftside-logout-container .leftside-text{
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.leftside-logout-container .leftside-icons {
    font-size: 2em;
    display: none;
}

@media (max-width: 900px) {

    /* Account part */
    .leftside-account-container .leftside-icons {
        display: block;
    }

    .leftside-account-container .leftside-text{
        display: none;
    }

    /* Setting Part */
    .leftside-setting-container .leftside-icons {
        display: block;
    }

    .leftside-setting-container .leftside-text{
        display: none;
    }

    /* Logout Part */
    .leftside-logout-container .leftside-icons {
        display: block;
    }

    .leftside-logout-container .leftside-text{
        display: none;
    }
}

/* Rightside */


.rightside-container-account {
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: none;
}

.rightside-container-setting {
    color: white;
    font-size: 20px;
    font-weight: 300;
    display: none;
}