body {
  background-color: #f2f2f2;
}
.properties-bar {
  max-width: 15vw;
  height: 46vw;
  margin-top: -1vh;
  transform: translateX(-1vw);
}

.custom-canva {
  margin-left: 4.5vw;
  width: 67.5vw;
  height: 40vw;
  outline: 0.5vw solid #808080;
  padding: 0;
  overflow: hidden;
}

.widgets-storer {
  width: 90vw;
  margin-top: 15px;
}

.no-padding {
  padding: 0;
}

.widget-sm-placeholder {
  width: 15%;
  height: 15%;
  border-radius: 0%;
  border: 0;
}

.widget-lg-placeholder {
  width: 15%;
  height: 15%;
  border-radius: 0%;
  border: 0;
}

.resize-drag {
  width: 150px;
  height: 150px;
}

.resize-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  /* justify-content: center;
  align-items: center; */
}

.move, .resize, .delete {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.move {
  width: 20px;
  height: 20px;
  background: white;
  left: 0;
  border-radius: 50%;
  border: 2px solid black;
  padding: 0px 0px 0px 0px;
  transform: translateY(-6px) translateX(-6px);
}

.move i {
  font-size: 10px;
  color: black;
  transform: translateY(-5px);
}

.delete {
  width: 20px;
  height: 20px;
  background: white;
  right: 0;
  border-radius: 50%;
  border: 2px solid red;
  padding: 0px 0px 0px 0px;
  transform: translateY(-6px) translateX(6px);
}

.delete i {
  font-size: 10px;
  color: red;
  transform: translateY(-5px);
}

.resize {
  width: 20px;
  height: 20px;
  background: white;
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid black;
  padding: 0px 0px 0px 0px;
  transform: translateY(6px) translateX(6px);
}

.resize i {
  font-size: 10px;
  color: black;
  transform: translateY(-5px);
}

.resize-drag {
  background-repeat: no-repeat ;
  background-size: 100%;
  background-position: center;
}

#date-placeholder, #clock-placeholder, #date-hour-placeholder, #weather-sm-placeholder {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat ;
  background-size: 100%;
  background-position: center;
  margin: 5px;
}

#news-lg-placeholder {
  width: 300px;
  height: 150px;
  background-repeat: no-repeat ;
  background-size: 100%;
  background-position: center;
  margin: 5px;
}

.date-placeholder, #date-placeholder {
  background-image: url(/factory-display/assets/img/widgets/placeholder/date/date_theme-1.png);
}

.clock-placeholder, #clock-placeholder {
  background-image: url(/factory-display/assets/img/widgets/placeholder/clock/clock_theme-1.png);
}

.date-hour-placeholder, #date-hour-placeholder {
  background-image: url(/factory-display/assets/img/widgets/placeholder/date_hour/date-hour_theme-1.png);
}

.news-lg-placeholder, #news-lg-placeholder {
  background-image: url(/factory-display/assets/img/widgets/placeholder/news-lg/news_theme-1.png);
}

.weather-sm-placeholder, #weather-sm-placeholder {
  background-image: url(/factory-display/assets/img/widgets/placeholder/weather-sm/weather_theme-1.png);
}

.news-lg-placeholder{
  width: 300px;
  height: 150px;
}

#widgets-accordion > .accordion-item > .accordion-collapse > .accordion-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#widgets-accordion > .accordion-item > .accordion-collapse > .accordion-body > div > img {
  margin: 5px;
}


.btn {
  width: 100%;
  height: 100%;
  padding: 3;
  border-radius: 0%;
  border: 0;
}

.btn:hover {
  transform: scale(1.2) rotate(2deg);
  background-color: #fffefe;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.accordion-button > h4 {
  color: #ff6600;
}

.btn-outline-light {
  color: #ff6600 !important;
}

.properties-bar > h3 {
  color: #ff6600;
}

#global-title {
  color: #ff6600;
}

.resize-drag {
  position: absolute;
}

#second-view {
  margin-top: 30px;
}

/* @media (max-width: 1100px) {
  .properties-bar {
    display: flex;
    flex-direction: row;
    height: min-content;
  }

  .properties-bar > .accordion {
    display: flex;
    flex-direction: row;
  }

  .properties-bar > .accordion > .accordion-item > .accordion-collapse > .accordion-body {
    display: flex;
  }
} */

#colorSettingCollapse > .accordion-body > button > img{
  width: 80%;
  height: 80%;
  border: #000 solid 2px;
  border-radius: 10px;
}

.justify-content-center {
  margin-top: 100px;
}

#previewBtn {
  font-weight: bold;
  font-size: 1.2em;
  animation: glow .7s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #ff6600;
  }
  to {
    text-shadow: 0 0 30px #ff6600, 0 0 10px #ff8c3f;
  }
}

#preview{
  display: none;
}


.text-heading-placeholder {
  display: inherit;
}

.text-heading-ctn {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

.text-heading {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
.text-heading > h1 {
  font-size: 1.7em;
  height: max-content;
  color: #ff6600;
}


.tooSmall {
  display: none;
}

.swal-overlay {
  background-color: rgba(0, 0, 0, 0.80);
}