body {
  background-color: #f2f2f2;
}
.properties-bar {
  max-width: 15vw;
  height: 46vw;
  margin-top: -1vh;
  transform: translateX(-1vw);
}

.custom-canva {
  margin-left: 4.5vw;
  width: 71.1vw;
  height: 40vw;
  outline: 0.5vw solid #808080;
  padding: 0;
  overflow: hidden;
}

.widgets-storer {
  width: 90vw;
  margin-top: 15px;
}

.no-padding {
  padding: 0;
}

.widget-placeholder {
  width: 15%;
  height: 15%;
  border-radius: 0%;
  border: 0;
}

.resize-drag {
  width: 150px;
  height: 150px;
}

.resize-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0;
  /* justify-content: center;
  align-items: center; */
}

.move {
  width: 20px;
  height: 20px;
  background: white;
  left: 0;
  border-radius: 50%;
  border: 2px solid black;
  padding: 0px 0px 0px 0px;
  transform: translateY(6px) translateX(6px);
}

.move i {
  font-size: 12px;
  color: black;
  transform: translateY(-5px) translateX(2px);
}

.delete {
  width: 20px;
  height: 20px;
  background: white;
  right: 0;
  border-radius: 50%;
  border: 2px solid red;
  padding: 0px 0px 0px 0px;
  transform: translateY(6px) translateX(6px);
}

.delete i {
  font-size: 12px;
  color: red;
  transform: translateY(-5px) translateX(3px);
}

.resize {
  width: 20px;
  height: 20px;
  background: white;
  position: fixed;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid black;
  padding: 0px 0px 0px 0px;
  transform: translateY(6px) translateX(6px);
}

.resize i {
  font-size: 11px;
  color: black;
  transform: translateY(-5px) translateX(3px);
}

.date-placeholder {
  background: url(/factory-display/assets/img/widgets/placeholder/calendar.png)
    no-repeat center;
  background-size: 100% 100%;
}

.clock-placeholder {
  background: url(/factory-display/assets/img/widgets/placeholder/clock.png)
    no-repeat center;
  background-size: 100% 100%;
}

.date-hour-placeholder {
  background: url(/factory-display/assets/img/widgets/placeholder/date_hour.png)
    no-repeat center;
  background-size: 100% 100%;
}
.btn {
  width: 100%;
  height: 100%;
  padding: 3;
  border-radius: 0%;
  border: 0;
}

.btn:hover {
  transform: scale(1.2) rotate(2deg);
  background-color: #fffefe;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}

.accordion-button > h4 {
  color: #ff6600;
}

.btn-outline-light {
  color: #ff6600 !important;
}

.properties-bar > h3 {
  color: #ff6600;
}

#global-title {
  color: #ff6600;
}

.resize-drag {
  position: absolute;
}

#second-view {
  margin-top: 30px;
}

/* @media (max-width: 1100px) {
  .properties-bar {
    display: flex;
    flex-direction: row;
    height: min-content;
  }

  .properties-bar > .accordion {
    display: flex;
    flex-direction: row;
  }

  .properties-bar > .accordion > .accordion-item > .accordion-collapse > .accordion-body {
    display: flex;
  }
} */

#colorSettingCollapse > .accordion-body > button > img{
  width: 80%;
  height: 80%;
  border: #000 solid 2px;
  border-radius: 10px;
}