
body{
  background-color: #F2F2F2;
  font-family: Noto Sans;
}

#testbody {
  background-image: url(/factory-display/assets/images/Jacobi_services_filter.png);
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: transparent;
}

.scenescontainer, .scenescol-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

i {
  font-size: 1em;
}

.scenesbtn {
  background-color: #FF6600;
  color: #F7F7F7;
  padding: 16px 20px;
  border: none;
  width: 100%;
  opacity: 0.9;
}
.scenesbtn:hover{
  background-color: #F7F7F7;
  color : #FF6600;
}
.scenesbtn:focus{
  background-color: #F7F7F7;
  color : #FF6600;
}
.scenescol {
  padding: 10px 20px 30px 20px;
  border: #000000 solid 1px;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #F7F7F7;
  opacity: 0.9;
  margin-top: 100px;
}
.scenestxt-red {
  color: rgb(190, 0, 0);
  font-weight: 500;
  padding-bottom: -10px;
  padding-top: 0px;
}
p.scenestxt-red {
  padding-top: 20px;
}
.scenestxt-green {
  color: rgb(0, 100, 0);
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 25px;
}

.scenestxt-white {
  color: #FF6600;
  font-weight: 500;
  padding-bottom: 15px;
}

@media screen and (max-width: 800px) {
  .scenescol-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: inherit;
    margin-bottom: 10vh;
  }
}

.scenescontainer {
  margin-top: 10px;
}

/* .div-main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div-main-container > h1 {
  text-align: center;
  padding: 10px;
  color: #FF6600;
} */


