body{
  margin-top: 100px;
  background-color: #F2F2F2;
}
.container {
  display: flex;
  justify-content: center;
}

i {
  font-size: 1em;
}

.btn {
  background-color: #FF6600;
  color: white;
  padding: 16px 20px;
  border: none;
  width: 100%;
  opacity: 0.9;
  
}
.btn:hover{
  background-color: white;
  color : #FF6600;
}
.btn:focus{
  background-color: white;
  color : #FF6600;
}
.col {
  padding: 10px 20px 30px 20px;
  border: #000000 solid 1px;
  border-radius: 5px;
  margin: 10px;
}
.txt-red {
  color: rgb(190, 0, 0);
  font-weight: 500;
  padding-bottom: -10px;
  padding-top: 0px;
}
p.txt-red {
  padding-top: 40px;
}
.txt-green {
  color: rgb(0, 100, 0);
  font-weight: 500;
  padding-bottom: 10px;
  padding-top: 25px;
}

.txt-white {
  color: #FF6600;
  font-weight: 500;
  padding-bottom: 15px;
}

@media screen and (max-width: 800px) {
  .col-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: inherit;
    margin-bottom: 10vh;
  }
}

.container {
  margin-top: 10vh;
}