.iframe-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

iframe > html > body > iframe {
    overflow: hidden;
}

iframe{
    width: 90vw;
    height: 50.625vw;
    overflow: hidden;
    pointer-events: none;
}