.custom-canva {
    margin-left: 10vw;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 80vw;
    height: 444px;
    outline: 0.5vw solid #808080;
    padding: 0;
    overflow: hidden;
}

.div-main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.div-main-container > h1 {
  text-align: center;
  position: relative;
    top: 100px;
    left: 0px;
  color: #FF6600;
}