.custom-canva {
    margin-left: 10vw;
    margin-top: 10px;
    margin-bottom: 40px;
    width: 80vw;
    height: 444px;
    outline: 0.5vw solid #808080;
    padding: 0;
    overflow: hidden;
}

iframe{
    width: 950px;
    height: 534px;
    overflow: hidden;
    align-items: center ;
    margin-left: 160px;
    margin-top: 40px;
}